.container-fluid {
  background-color: red;
  /* height: 70px; */
}

.row.bl-nav {
  background-color: white;
  /* height: 100%; */
}

.container {
  /* background-color: grey; */
  /* height: 70px; */
}

.bl-nav .row [class*="col-"] {
  /* border: 1px solid black; */
  height: 70px;
  padding: 0;
}

[class*="col-"] {
  /* border: 1px solid red; */
  /* height: 100%; */
  padding: 0;
}

img.logo {
  /* border: 1px solid red; */
  width: 100%;
  padding: 20px 0;
}

.logotype.bl-padding, .bl-nav-left.bl-padding {
  padding-left: 0;
}
.bl-nav-right.bl-padding {
  padding-left: 0;
}

ul {
  padding: 0;
  margin: 0;
}

select {
  border: 0;
  background-color: inherit;
  /* cursor: pointer; */

}

.bl-nav-left li:nth-of-type(even) select, .bl-nav-right li:nth-of-type(odd) select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[class^="bl-nav-"] li {
  display: inline-block;
  line-height: 70px;
  padding-left: 15px;

}

button {
  border-radius: 5px;
  border: 1px solid rgb(0,106,255);
  background-color: inherit;
  color: rgb(33,125,255);
}

/* .container.box {
  height:200px;
  border: 1px solid red;
} */

header {
  /* background-color: red; */
  background-image: url("../img/sfondo-pesci.svg");
  background-size: cover;
  background-position: center;
  /* height: 400px; */
  padding: 40px 0;
}

header .container {
  /* border: 1px solid black; */
  height: 100%;
}

.row.bl-jumbotron .bl-margin {
  /* margin: 40px 0; */
}

.bl-jumbotron h1, h4 {
  color: white;
  /* margin-top: 40px; */
}

.bl-jumbotron h1 {
  font-size: 62.5px;
}

.bl-jumbotron h4 {
  font-size: 20px;
  line-height: 1.3;
}

.bl-jumbotron #account {
  background-color: white;
  border-radius: 10px;
  height: 351.85px;
}

.bl-jumbotron #account p {
  font-size: 32px;
  font-weight:500;
  padding: 20px 20px;
}

.bl-jumbotron #account p span {
  color: rgb(0, 106, 255);
}

#account input[type] {
   width: calc(100% - 20px);
   padding: 5px 10px;
   margin: 5px 10px;
   border-radius: 5px;
   border: 1px solid lightgrey;
 }

#account form>div:nth-child(3) input[type="button"] {
   background-color: rgb(87, 154, 255);
   color: white;
   font-weight: bold;
   border: 1px solid rgb(87, 154, 255);
 }

#account form>div:nth-child(4) input[type="button"] {
   background-color: inherit;
   color: rgb(98, 98, 98);
   font-weight: bold;
   border: 1px solid white;
   box-shadow:  2px  2px 1px rgba(180, 180, 180, 0.3);
 }

.google {
  position: relative;
}

 .google img {
   width: 20px;
   position: absolute;
   left: 25px;
   top: 50%;
   transform: translate(0, -50%);
 }

main .row {
  /* background-color: rgb(243, 245, 249); */
  background-color: #f3f5f9;
  /* background-color: red; */
  /* border: 1px solid blue; */
  /* height: 300px; */
}

main .row [class*="col-"] {
  /* border: 1px solid black; */
}

main .row.sponsor h4 {
  color: rgb(111, 123, 151);
}

main .row.sponsor h6 {
  color: rgb(0, 106, 255);
}




main [class*="col-"] img {
  width: 195px;
  /* border: 1px solid green; */
}
